/overrides/config/account.json
/overrides/config/accounts.json
/overrides/logs/
/overrides/CustomSkinLoader/ExtraList/
/overrides/CustomSkinLoader/Plugins/
/overrides/CustomSkinLoader/ProfileCache/
/overrides/CustomSkinLoader/CustomSkinAPIPlus-ClientID
/overrides/CustomSkinLoader/CustomSkinLoader.log
/overrides/saves/
/overrides/shaderpacks/
/overrides/servers.dat
