# Configuration file

general {
    B:"Booted once"=false

    S:"Maven Mirror URL"=https://maven.aliyun.com/repository/public

    I:"Maximum Retry"=10

    I:"Maximum Session"=10

    B:"Respect Library Structure"=true

    B:"Use Local MMC Pack"=true
}


