# Configuration file

general {
    # The message you want to use.
    S:message=MineOptimiz Cleanroom需要添加OptiFine才能获得完整的优化，但目前未安装！由于OptiFine许可协议原因，需要您自行下载安装OptiFine。点击“Link”按钮进入下载页面

    # This settings changes the mod that should be used.
    # 0 -> Remind the user to install Optifine
    # 1 -> Force the user to install Optifine or Quit the Game
    I:mode=0

    # This settings changes the class which indicated Optifine.
    # You shouldn't change this, if you don't have to.
    S:optifine-class=net.optifine.Log

    # The title you want to use.
    S:title=&c&l未检测到OptiFine！

    # The link that should be used for downloading optifine
    S:url=https://optifine.net/adloadx?f=OptiFine_1.12.2_HD_U_G5.jar
}


