// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "managerEnabled": "true",
  "showDeleteConfirmation": "true",
  "disableShare": "false",
  "disableStrikeThrough": "false",
  "createDeathpoints": "false",
  "wholeNumberTeleportCoords": "false",
  "autoRemoveDeathpoints": "true",
  "autoRemoveDeathpointDistance": "2",
  "autoRemoveTempWaypoints": "2",
  "showDeathpointlabel": "true",
  "fullscreenDoubleClickToCreate": "true",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "MM-dd-yyyy",
  "timeFormat": "HH:mm:ss",
  "renderWaypoints": "true",
  "renderWaypointsWorld": "true",
  "renderWaypointsMap": "true",
  "beaconEnabled": "true",
  "autoHideIcon": "false",
  "autoHideIconAngle": "5",
  "showStaticBeam": "true",
  "showRotatingBeam": "true",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "autoHideLabelAngle": "5",
  "boldLabel": "false",
  "fontScale": "2.0",
  "textureSmall": "true",
  "shaderBeacon": "false",
  "maxDistance": "0",
  "minDistance": "4",
  "configVersion": "6.0.0-beta.39"
}